#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 700px;;
    height: 700px;  
    border: 2px solid black;
    
}

.grid-item {
    box-sizing: border-box;
    flex: 1 1 calc(100% / var(--divs-per-side));
    background-color: rgb(245, 245, 245);
    padding: auto;
    width: calc(100% / var(--divs-per-side));
    height: calc(100% / var(--divs-per-side));
}

.grid-item.hovered{
    background-color: Red;
}

#grid-button{
    display: flex;
    justify-content: center;
}

#sizeButton{
    background-color: #4c6baf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 12px;
}

#sizeButton:hover{
    background-color: #939cf1;
}